.main-logo a {
  @apply inline-block;
  max-width: 150px;

  @screen md {
    max-width: 350px;
  }
}

.wp-menu-item {
  .sub-menu {
    top: 100%;
    box-shadow: 0 13px 29px rgb(0 0 0 / 25%);
    max-height: 0;
    transform: scale(0.4);
    transform-origin: 10% top;
    transition: 0s max-height 0.15s linear,0.1s opacity cubic-bezier(0.39, 0.575, 0.565, 1),0.15s transform cubic-bezier(0.1, 1.26, 0.83, 1);
  }
}

.wp-menu-item:hover {
  .sub-menu {
    max-height: 2000px;
    min-width: 270px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-delay: 0.2s;
    transition-duration: 0s, 0.2s, 0.2s !important;
    left: auto;
    right: 0;
  }
}

#primary-menu-toggle.active {
  .close-icon {
    display: block;
  }
  .hamburger-icon {
    display: none;
  }
}

.entry-content, .block-editor-block-list__layout {
    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-xl;
    }

    h3 {
        @apply text-lg;
    }

    p, ul, ol {
        a {
            @apply text-blue-500 underline;

            &:hover {
                @apply no-underline;
            }
        }

        @apply mb-8;
    }

    ul:not(.block-editor-block-variation-picker__variations) {
        li {
            @apply list-disc list-inside;
        }
    }

    ol {
        li {
            @apply list-decimal list-inside;
        }
    }
}
